html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.seach {
    display: flex;
    align-items: center;
    background-color: #4186ee;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightblue;
}

.limitedOffer {
    font-size: 20px;
    border: 2px solid rgb(44, 44, 241);
    cursor: pointer;
    padding: 10px 20px;
}

.limitedOffer:hover {
    background-color: rgb(34, 34, 139);
    color: white;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: rgb(101, 125, 122);
    font-weight: 400;
}

.menuItem:hover {
    background-color: #1e5dbd;
    color: white;
    border-radius: 10px;
}

.slider {
    background: url("https://cdn.wallpapersafari.com/39/55/5L9B0p.jpg");
    clip-path: polygon(0% 0%, 75% 0%, 100% 0, 100% 82%, 0 97%);
    /* Hide the overflow */ 
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sliderImg {
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    border: none;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 30px;
    font-weight: 900;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover {
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderPrice {
    color: greenyellow;
}
.sliderItem:nth-child(2) .sliderPrice {
    color: violet;
}
.sliderItem:nth-child(3) .sliderPrice {
    color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
    color: cyan;
}
.sliderItem:nth-child(5) .sliderPrice {
    color: rebeccapurple;
}
.sliderItem:nth-child(6) .sliderPrice {
    color: yellow;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: gray;
    width: 50%; 
    height: 100px;
}

.product {
    height: 100vh;
    background-color: khaki;
    position: relative;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 4% 54%, 0 0, 51% 6%);
}

.productImg {
    width: 50%;
}

.payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px 50px;
    flex-direction: column;
    display: none;
    /* box shadow on css generator.com */
    box-shadow: -7px 19px 13px 6px rgba(0,0,0,0.62);
}


.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.payTitle {
    font-size: 20px;
    color: rgb(13, 13, 113);
}

.sm {
    width: 30%;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0%;
    box-shadow: -7px 19px 13px 6px rgba(0,0,0,0.62);
    background-color: #4186ee;
    color: white;
    border: none;
    cursor: pointer;
}

label {
    font-size: 14px;
    font-weight: 300;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.headphone {
    width: 90%;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(191, 24, 24);
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-size: 75px;
    font-weight: 900;
}

.productDesc {
    font-style: 24px;
    color: gray;
}

.colors, .sizes {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child {
    background-color: #ffffff;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover {
    background-color: white;
    color: black;
}

footer {
    display: flex;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle {
    font-size: 16px;
}

.fList {
    padding: 0;
    list-style: none;
}

.fListItem  {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput {
    padding: 5px;
}

.fButton {
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons {
    display: flex;
}

.fIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.copyright {
    font-weight: 300;
    font-size: 14px;
}

/* media screen only for phone */

@media screen and (max-width:480px) {
    nav {   
        padding: 20px;
    }

    .navBottom {
        flex-wrap: wrap;
    }

    .search {
        display: none;
    }

    .menuItem {
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .slider {
        clip-path: none;
    }

    .sliderImg {
        width: 90%;
    }

    .sliderTitle {
        display: none;
    }

    .sliderPrice {
        top: unset;
        bottom: -50;
        left: 0;
        background-color: burlywood;
    }

    .buyButton {
        right: 0;
        top: 0;
    }

    .features {
        flex-direction: column;
    }

    .product {
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productImg {
        width: 80%;
    }

    .productDetails {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    }

    .productTitle {
        font-size: 50px;
        margin: 0;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footerLeft {
        padding: 20px;
        width: 90%;
    }

    .footerRight {
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }

    .payment {
        width: 90%;
        padding: 20px;
    }
 }

 